/* Reset */
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  display: flex;
  margin: 0;
  font-size: 15px;
  background-color: #e3f4fc;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  width: 100%;
  max-width: 890px;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 30px;
  overflow: hidden;
}

.left,
.right {
  width: 50%;
}

.left {
  background-color: #fff;
}

.mortgage-calculator {
  padding: 25px;
}

.calculator-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.calculator-header h2 {
  font-size: 19.2px;
  color: hsl(202, 55%, 16%);
}

.clear-all {
  font-size: 14.4px;
  color: hsl(200, 24%, 40%);
  cursor: pointer;
}

.form-group {
  margin-bottom: 25.6px;
}

.form-group label {
  display: block;
  font-size: 14.4px;
  font-weight: 600;
  margin-bottom: 4.8px;
  color: hsl(200, 24%, 40%);
}

.rate-wrapper {
  display: flex;
  gap: 20px;
}

.input-group {
  display: flex;
  align-items: stretch;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  background-color: #fff;
}

.input-group span {
  padding: 0 16px;
  background-color: #e3f4fc;
  color: #666666;
  font-size: 14.4px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-group input {
  border: none;
  outline: none;
  padding: 9.6px 8px;
  width: 100%;
  font-size: 14.4px;
}

.mortgage-type {
  margin-bottom: 25px;
}

.radio-group {
  display: flex;
  gap: 9px;
  flex-direction: column;
}

.radio-group label {
  display: flex;
  align-items: center;
  font-size: 14.4px;
  cursor: pointer;
  border: 1px solid #000;
  padding: 10px;
}

.radio-group label:has(> input:checked) {
  background-color: #fafae0;
}

.radio-group input[type="radio"] {
  margin-right: 4.8px;
  accent-color: hsl(61, 70%, 52%);
}

.calculate-btn {
  width: 100%;
  padding: 12px 16px;
  border: none;
  border-radius: 50px;
  background-color: hsl(61, 70%, 52%);
  font-size: 15.2px;
  font-weight: 600;
  color: hsl(202, 55%, 16%);
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-top: 40px;
}

.calculate-btn:hover {
  background-color: hsl(61, 70%, 48%);
}

.right {
  background-color: #133040;
  border-radius: 0 30px 30px 80px;
  color: hsl(203, 41%, 72%);
  flex-direction: column;
  display: flex;
  padding: 30px 30px 80px 30px;
}

.right h2 {
  color: hsl(202, 86%, 94%);
  margin-bottom: 0;
}

.right p {
  line-height: 1.6;
}

.amount-wrapper {
  background-color: #0e2431;
  border-radius: 5px;
  border-top: 4px solid hsl(61, 70%, 52%);
  margin-top: 15px;
  padding: 5px 20px;
}

.amount-wrapper h3 {
  font-size: 25px;
  color: hsl(61, 70%, 52%);
  margin: 0 0 15px 0;
}

.amount-wrapper hr {
  border: 1px solid hsla(203, 41%, 72%, 0.411);
}

.amount-wrapper h4 {
  color: hsl(202, 86%, 94%);
  margin-top: 0;
}

.amount-wrapper .total {
  margin-bottom: 10px;
}

@media (max-width: 690px) {
  .container {
    flex-direction: column;
    border-radius: 0;
  }

  .left,
  .right {
    width: 100%;
  }

  .right {
    border-radius: 0;
  }
}
